apache_flink==1.18.1
apache_flink_libraries==1.18.1
beautifulsoup4==4.12.3
cassandra_driver==3.29.0
confluent_kafka==2.3.0
matplotlib==3.9.2
numpy==1.24.4
pyflink==1.0
Requests==2.32.3
requests_sse==0.5.1
flask-restx==1.1.0
Flask-Cors==5.0.0
urllib3==1.26.5


Flask==2.2.5
Flask_Migrate==4.0.4
Flask_SocketIO==5.3.6


flask==2.2.5
Werkzeug==2.3.7
jinja2==3.1.2
flask-login==0.6.2
flask_migrate==4.0.4
WTForms==3.0.1
flask_wtf==1.2.1
flask-sqlalchemy==3.0.5
sqlalchemy==2.0.21
email_validator==2.0.0

python-dotenv==0.19.2

gunicorn==20.1.0
Flask-Minify==0.37

python-socketio==5.11.2