{% extends "layouts/base.html" %}

{% block title %} Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='
home/xeon/thesis-big-softeng-data/events-to-cassandra-dockerized-system/flask-events-dashboard/apps/static/assets/css/toggling_button.css') }}"> -->
<link rel="stylesheet" href="../../static/assets/css/toggling_button.css">


{% endblock stylesheets %}

{% block content %}
<head>
  <style>
    th, td {
      text-align: center;
    }
  </style>
  <!-- Custom CSS file path relative to the static directory -->
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='/home/xeon/Thesis/flask-material-dashboard/apps/static/assets/css/my-custom-css.css') }}"> -->

 

  <!-- Change all months based on UI selection -->
  <script>
    function listen_to_selected_day(){
      document.getElementById("day_dropdown_list_selection").addEventListener(
      "change", function() {
        const month_from_ui = this.value; 
        let month_placeholders_elements =  document.getElementsByClassName("day_selection")
        for (var month_placeholders_index = 0; 
          month_placeholders_index < month_placeholders_elements.length;
          month_placeholders_index++){
            month_placeholders_elements[month_placeholders_index].textContent = month_from_ui
        }
      }
      )
    }
  </script>


  <!-- Create ranking table -->
  <script>
    function create_ranking_table_html_body(element_id_to_assign_hmtl_onto, 
      data_url, html_head, second_col, third_col
    ) {
        /*
      Creates the table contents (html_body)
      - second_col: column name of the fetched JSON table to represent 
      as the second column in the ui table
      - third_col: column name of the fetched JSON table to represent 
      as the third column in the ui table
      
      - returns the html combining the head and the body of the table
      */

      var html_body_inside = `<tbody>`

      //  Create the html_body of the table
      fetch(data_url)
        .then(response => response.json())
        .then(data => {
          // const pull_requests = data[0][0].total_pull_requests;
          
          var top_contributors_list = data["top_contributors"]
          for (let data_index = 0; data_index < top_contributors_list.length; data_index++){
            html_body_inside = html_body_inside 
              + `<tr>`
              + `<td>${data_index+1}</td>`
              + `<td>${top_contributors_list[data_index][second_col]}</td>`
              + `<td>${top_contributors_list[data_index][third_col]}</td>`
              + `</tr>`
          }
          html_body_inside = html_body_inside + `</tbody>`;
          
          document.getElementById(element_id_to_assign_hmtl_onto).innerHTML = 
          html_head + html_body_inside;    

        }
      );
    }
  </script>

  <!-- Create top human contributors table -->
  <script>
    function update_top_human_contributors_table(day_selected){
      // Arguments to create the table
      var table_html_id = "top_human_contributors_table"
      var html_head = `<thead class="text-warning">
        <tr>
          <th>Place</th>
          <th>Username</th>
          <th>Number of commits</th>
        </tr>
      </thead>`
      var second_column_name = 'username'
      var third_column_name = 'number_of_contributions'

      // Get the data URL 
      let data_url = 'http://localhost:3201/bots_vs_humans/top_contributing_humans_bot_like_committers_removed/' + day_selected;
      // Create the table
      create_ranking_table_html_body(table_html_id, data_url, html_head, 
        second_column_name, third_column_name);
    }
    // update_top_human_contributors_table()
  </script>

  <!-- Create top human contributors table -->
  <script>
    function update_top_bot_contributors_table(day_selected){
      // Arguments to create the table
      var table_html_id = "top_bot_contributors_table"
      var html_head = `<thead class="text-warning">
        <tr>
          <th>Place</th>
          <th>Bot name</th>
          <th>Number of commits</th>
        </tr>
      </thead>`
      var second_column_name = 'username'
      var third_column_name = 'number_of_contributions'

      // Get the data URL 
      
      let data_url = 'http://localhost:3201/bots_vs_humans/top_contributing_bots/' + day_selected;
      // Create the table
      create_ranking_table_html_body(table_html_id, data_url, html_head, 
        second_column_name, third_column_name);
       
    }
  </script>


  
<!-- TODO: Add functions for the events, also change the ids of the respective HTML elements -->




</head>




<body>
  
  <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
    <div class="container-fluid py-1 px-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
          <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Github Analyzer</a></li>
          <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Bots vs humans</li>
        </ol>
        <h6 class="font-weight-bolder mb-0">Bots vs humans</h6>
      </nav>
      <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
    </div>
  </nav>

  <div class="container-fluid py-4">
    
    <!-- Humans vs bots title -->
    <div class="row">
      <div class="col-lg-5 col-md-12 mb-4">
      <!-- <div class="mb-xl-0 mb-4 p-5 pt-2"> -->
        <div class="card">
          <div class="card-header card-header-warning">
            <h3 class="card-title">Bots vs humans</h4>
            <p>Based on Github events in December 2024</p>
          </div>
        </div>
      </div> 
    </div>

        <!-- Select day  -->
    <div class="row mb-4">
      <div class="col-lg-4 col-md-6">
        <div class="card h-100">
          <div class="card-header pb-0 py-3 d-flex align-items-center justify-content-between">
            <!-- <h5>Selected day</h5><h6 class="mb-0 text-sm">Alexa Liras</h6> -->
            <span class="text-dark font-weight-bold ms-sm-2">Select a day of December 2024:</span>
            
            <div class="dropdown float-lg-end pe-4">
              <ul>
                <select id = "day_dropdown_list_selection" class="drop_down_list_select bg-gradient-success" name="day">
                  <option >1</option>
                  <option >2</option>
                  <option >3</option>
                  <option >4</option>
                  <option >5</option>
                  <option >6</option>
                  <option >7</option>
                  <option >8</option>
                  <option >9</option>
                  <option >10</option>
                  <option >11</option>
                  <option >12</option>
                  <option >13</option>
                  <option >14</option>
                  <option >15</option>
                  <option >16</option>
                  <option >17</option>
                  <option >18</option>
                  <option >19</option>
                  <option >20</option>
                  <option >21</option>
                  <option >22</option>
                  <option >23</option>
                  <option >24</option>
                  <option >25</option>
                  <option >26</option>
                  <option >27</option>
                  <option >28</option>
                  <option >29</option>
                  <option >30</option>
                  <option >31</option>
                </select>
              </ul>
            </div>
          </div>
          </div>
        </div>
    </div>


    <!-- Top 3 contributors ranking -->
    <div class="row mb-5">   
      <!-- Create the top human contributors and top bot cnotributors table -->
      <div class="col-lg-6 col-md-12">
        <div class="card">
          <div class="card-header card-header-warning">
            <h4 class="card-title">Top contributing users</h4>
            <p class="card-category">Based on commits (direct or merged pull-requests) on 
              <span class="day_selection">1</span>/12/2024
            </p>
          </div>
          <div class="card-body table-responsive">
            <table id="top_human_contributors_table" class="table table-hover">
              
            </table>
          </div>
        </div>
      </div>    
      <div class="col-lg-6 col-md-12">
        <div class="card">
          <div class="card-header card-header-warning">
            <h4 class="card-title">Top contributing bots</h4>
            <p class="card-category">Based on commits (direct or merged pull-requests) on 
              <span class="day_selection">1</span>/12/2024
            </p>
          </div>
          <div class="card-body table-responsive">
            <table id="top_bot_contributors_table" class="table table-hover">
            </table>
          </div>
        </div>
      </div>
    
    </div>
    

    <!-- Number of events (chart) and number of pull-requests (chart) -->
    <div class="row mt-5 mb-7">
      <!-- Number of events (chart) -->
      <div class="col-lg-6 col-md-12">
        <div class="card">
          <div class="chart-container">
            <script src="/static/assets/js/plugins/chartjs.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
              integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
              crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"
              integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ=="
              crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    
    
            
    
            <!-- Pie chart for the Github events -->
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
              <div class="bg-gradient-dark shadow-dark border-radius-lg py-3 pe-1">
                <div id="percentage_of_events_pie_chart_id" style="height: 500px;"></div>
              </div>
            </div>
            
            <script>

              function updateNumberOfGithubEventsChart(day_selected) {

                var percentage_of_events_pie_chart_options = {
                  title: {
                    text: 'Github events',
                    align: 'center',
                    margin: 50,
                    style: {
                      fontSize: '30px',
                      fontWeight: 'bold',
                      fontFamily: undefined,
                      color: '#ffffff'
                    },
                  },
                  legend: {
                    position: 'bottom',
                    horizontalAlign: 'center',
                    offsetX: 0,
                    offsetY: 20,
                    fontSize: '20px',                      
                    labels: {
                      colors: ["#ffffff", "#ffffff"],
                    },
                    itemMargin: {
                      horizontal: 20,
                      vertical: 0
                    },
                  },
                  series: [77590, 77590],
                  labels: ['Created by humans', 'Created by bots'],
                  dataLabels: {
                    enabled: true,
                    style: {
                      fontSize: '20px',
                      fontWeight: "bold",
                      colors: ['#ffffff', '#ffffff'],
                      fontFamily: 'Helvetica, Arial, sans-serif',
                      cssClass: 'apexcharts-xaxis-label',
                      }
                  },
                  chart: {
                    type: 'pie',
                    height: 450,
                  },
                  

                };

                var percentage_of_events_pie_chart = new ApexCharts(document.querySelector("#percentage_of_events_pie_chart_id"), percentage_of_events_pie_chart_options);
                percentage_of_events_pie_chart.render();

                const numberOfEventsUrl = 'http://localhost:3201/bots_vs_humans/number_of_events_by_humans_and_bots/' + day_selected;
                fetch(numberOfEventsUrl)
                  .then(response => response.json())
                  .then(data => {
                    const total_number_of_events_by_humans = data["humans"]["total_number_of_events"];
                    const total_number_of_events_by_bots = data["bots"]["total_number_of_events"];
                    
                    // Destroy and then re-render the chart for faster re-render. 
                    // as using only percentage_of_events_pie_chart.updateOptions() renders too slow or not at all
                    percentage_of_events_pie_chart.destroy();
                    percentage_of_events_pie_chart_options.series = [total_number_of_events_by_humans, total_number_of_events_by_bots];
                    percentage_of_events_pie_chart = new ApexCharts(document.querySelector("#percentage_of_events_pie_chart_id"), percentage_of_events_pie_chart_options);
                    percentage_of_events_pie_chart.render()

                  }) 
              };
              

            </script>
    

          </div>
    
          <div class="card-body mt-4">
            <h4 class="mb-0 ">Number of events created by humans and bots</h4>
            <h5 class="text-sm ">From github activity in December 2024</h5>
            <hr class="dark horizontal">
          </div>
    
        </div>
    
      </div>
      
      <!-- Number of pull requests (chart) -->
      <div class="col-lg-6 col-md-12">
        <div class="card">
          <div class="chart-container">
            <script src="/static/assets/js/plugins/chartjs.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
              integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
              crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"
              integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ=="
              crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/easy-toggle-state/1.16.0/easy-toggle-state.min.js
            "></script>
    
    
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
              <div class="bg-gradient-dark shadow-dark border-radius-lg py-3 pe-1">
                <div id="percentage_of_pull_requests_chart" style="height: 500px;"></div>
              </div>
            </div>
            
            
            


        
            <script>
              function update_toggling_pull_requests_chart_backup(day_selected) {
                

                var options_accepted_rates_percentage = {
                  series: [
                    {
                      name: "Accepted",
                      data: [91, 40],
                    },
                    {
                      name: "Rejected",
                      data: [25, 32],
                    },
                  ],
                  chart: {
                    type: "bar",
                    height: 450,
                    offsetX: 50,
                    width: "95%", // optional, to make room
                  },
                  legend: {
                    position: "bottom",
                    horizontalAlign: "right",
                    offsetX: 20,
                    offsetY: 20,
                    fontSize: "20px",
                    labels: {
                      colors: ["#ffffff", "#ffffff"],
                    },
                    itemMargin: {
                      horizontal: 20,
                      vertical: 0,
                    },
                  },

                  title: {
                    text: "Pull request rates",
                    align: "center",
                    margin: 50,
                    style: {
                      fontSize: "30px",
                      fontWeight: "bold",
                      fontFamily: undefined,
                      color: "#ffffff",
                    },
                  },

                  plotOptions: {
                    bar: {
                      horizontal: false,
                      columnWidth: "55%",
                      borderRadius: 5,
                      borderRadiusApplication: "end",
                      dataLabels: {
                        position: "top",
                      },
                    },
                  },
                  dataLabels: {
                    enabled: true,
                    offsetY: -30,
                    style: {
                      fontSize: "20px",
                      colors: ["#fff"],
                    },
                    formatter: function (val) {
                      return val + "%"
                    },
                  },
                  stroke: {
                    show: true,
                    width: 2,
                    colors: ["transparent"],
                  },
                  xaxis: {
                    categories: ["Humans", "Bots"],
                    labels: {
                      style: {
                        fontWeight: "bold",
                        fontSize: "20px",
                        fontFamily: undefined,
                        colors: ["#ffffff", "#ffffff"],
                      },
                    },
                  },
                  yaxis: {
                    min: 0,
                    max: 100,
                    title: {
                      text: "Pull requests accepted percentage",
                      style: {
                        fontWeight: "bold",
                        fontSize: "20px",
                        fontFamily: undefined,
                        color: "#ffffff",
                      },
                      offsetX: -10,
                    },
                    labels: {
                      style: {
                        fontWeight: "bold",
                        fontFamily: undefined,
                        colors: ["#ffffff"],
                      },
                    },
                  },
                  grid: {
                    padding: {
                      left: 20,
                    },
                  },
                  fill: {
                    opacity: 1,
                  },
                  tooltip: {
                    y: {
                      formatter: function (val) {
                        return val + " %";
                      },
                    },
                  },
                }

                var options_accepted_rates_absolute = {
                  series: [
                    {
                      name: "Accepted",
                      data: [11111, 22000],
                    },
                    {
                      name: "Rejected",
                      data: [2321, 7624],
                    },
                  ],
                  chart: {
                    type: "bar",
                    height: 450,
                    offsetX: 50,
                    width: "95%"
                  },
                  legend: {
                    position: "bottom",
                    horizontalAlign: "right",
                    offsetX: 20,
                    offsetY: 20,
                    fontSize: "15px",
                    labels: {
                      colors: ["#ffffff", "#ffffff"],
                    },
                    itemMargin: {
                      horizontal: 20,
                      vertical: 0,
                    },
                  },
                  title: {
                    text: 'Pull requests',
                    align: 'center',
                    margin: 50,
                    style: {
                      fontSize: "30px",
                      fontWeight: 'bold',
                      fontFamily: undefined,
                      color: '#ffffff'
                    },

                  },
                  plotOptions: {
                    bar: {
                      horizontal: false,
                      columnWidth: "55%",
                      borderRadius: 5,
                      borderRadiusApplication: "end",
                      dataLabels: {
                        position: "top",
                      },
                    },
                  },
                  dataLabels: {
                    enabled: true,
                    offsetY: -30,
                    style: {
                      fontSize: "20px",
                      colors: ['#ffffff']
                    },
                    formatter: function (val) {
                      return val;
                    },
                  },
                  stroke: {
                    show: true,
                    width: 2,
                    colors: ["transparent"],
                  },
                  xaxis: {
                    categories: ["Humans", "Bots"],
                    labels: {
                      style: {
                        fontWeight: 'bold',
                        fontSize: "20px",
                        fontFamily: undefined,
                        colors: ['#ffffff', '#ffffff']
                      },
                    }

                  },
                  yaxis:
                  {
                    min: 0,
                    title: {
                      text: "Number of pull requests",
                      style: {
                        fontWeight: 'bold',
                        fontSize: "20px",
                        fontFamily: undefined,
                        color: '#ffffff'
                      },
                      offsetX: -10,
                    },
                    labels: {
                      style: {
                        fontWeight: "bold",
                        fontFamily: undefined,
                        colors: ["#ffffff"],
                      },

                    },
                  },
                  grid: {
                    padding: {
                      left: 20,
                    },
                  },
                  fill: {
                    opacity: 1,
                  },
                  tooltip: {
                    y: {
                      formatter: function (val) {
                        return val;
                      },
                    },
                  },
                };


                var chart_2 = new ApexCharts(document.querySelector("#percentage_of_pull_requests_chart"), options_accepted_rates_percentage);
                getPullRequestsRates(day_selected);
                chart_2.render();

                function toggleChart() {
                  document.getElementById('switchbox_V2VVB').addEventListener('click', function () {

                    if (chart_2.w.config.title.text == options_accepted_rates_percentage.title.text) {
                      chart_2.destroy();
                      chart_2 = new ApexCharts(document.querySelector("#percentage_of_pull_requests_chart"), options_accepted_rates_absolute);
                      getPullRequests(day_selected);
                      chart_2.render();


                    } else if (chart_2.w.config.title.text == options_accepted_rates_absolute.title.text) {
                      chart_2.destroy();
                      chart_2 = new ApexCharts(document.querySelector("#percentage_of_pull_requests_chart"), options_accepted_rates_percentage);
                      getPullRequestsRates(day_selected);
                      chart_2.render();
                    }

                  });
                }
                toggleChart();

                function getPullRequests(day_selected) {
                  var humanUrl = 'http://localhost:3201/bots_vs_humans/pull_requests_by_humans/' + day_selected;
                  var botUrl = 'http://localhost:3201/bots_vs_humans/pull_requests_by_bots/' + day_selected;

                  Promise.all([fetch(humanUrl), fetch(botUrl)])
                    .then(responses => Promise.all(responses.map(res => res.json())))
                    .then(([humanData, botData]) => {
                      const fetchedPullRequests = {
                        series: [
                          {
                            name: "Accepted",
                            data: [humanData.number_of_accepted_pull_requests, botData.number_of_accepted_pull_requests]
                          },
                          {
                            name: "Rejected",
                            data: [humanData.number_of_rejected_pull_requests, botData.number_of_rejected_pull_requests]
                          }
                        ]
                      };
                      chart_2.updateOptions(fetchedPullRequests);
                    });
                };

                function getPullRequestsRates(day_selected) {
                  var humanUrl = 'http://localhost:3201/bots_vs_humans/pull_requests_by_humans/' + day_selected;
                  var botUrl = 'http://localhost:3201/bots_vs_humans/pull_requests_by_bots/' + day_selected;

                  Promise.all([fetch(humanUrl), fetch(botUrl)])
                    .then(responses => Promise.all(responses.map(res => res.json())))
                    .then(([humanData, botData]) => {
                      
                      humanAcceptedRate = humanData.number_of_accepted_pull_requests
                        /(humanData.number_of_accepted_pull_requests + humanData.number_of_rejected_pull_requests)*100;
                      humanAcceptedRateTwoDecimals = humanAcceptedRate.toFixed(2);
                      humanRejectedRateTwoDecimals = (100 - humanAcceptedRateTwoDecimals).toFixed(2);

                      botAcceptedRate = botData.number_of_accepted_pull_requests
                        /(botData.number_of_accepted_pull_requests + botData.number_of_rejected_pull_requests)*100;
                      botAcceptedRateTwoDecimals = botAcceptedRate.toFixed(2);
                      botRejectedRateTwoDecimals = (100 - botAcceptedRateTwoDecimals).toFixed(2);


                      const fetchedPullRequestsRates = {
                        series: [
                          {
                            name: "Accepted",
                            data: [humanAcceptedRateTwoDecimals, botAcceptedRateTwoDecimals]
                          },
                          {
                            name: "Rejected",
                            data: [humanRejectedRateTwoDecimals, botRejectedRateTwoDecimals]
                          }
                        ]
                      };
                      chart_2.updateOptions(fetchedPullRequestsRates);
                    });
                };
              
              }
            
              function update_toggling_pull_requests_chart(day_selected) {
                

                var options_accepted_rates_percentage = {
                  series: [
                    {
                      name: "Created by humans",
                      data: [91, 40],
                    },
                    {
                      name: "Created by humans",
                      data: [25, 32],
                    },
                  ],
                  chart: {
                    type: "bar",
                    height: 450,
                    offsetX: 50,
                    width: "95%", 
                  },
                  legend: {
                    position: "bottom",
                    horizontalAlign: "right",
                    offsetX: 20,
                    offsetY: 20,
                    fontSize: "20px",
                    labels: {
                      colors: ["#ffffff", "#ffffff"],
                    },
                    itemMargin: {
                      horizontal: 20,
                      vertical: 0,
                    },
                  },

                  title: {
                    text: "Pull request rates",
                    align: "center",
                    margin: 50,
                    style: {
                      fontSize: "30px",
                      fontWeight: "bold",
                      fontFamily: undefined,
                      color: "#ffffff",
                    },
                  },

                  plotOptions: {
                    bar: {
                      horizontal: false,
                      columnWidth: "55%",
                      borderRadius: 5,
                      borderRadiusApplication: "end",
                      dataLabels: {
                        position: "top",
                      },
                    },
                  },
                  dataLabels: {
                    enabled: true,
                    offsetY: -30,
                    style: {
                      fontSize: "20px",
                      colors: ["#fff"],
                    },
                    formatter: function (val) {
                      return val + "%"
                    },
                  },
                  stroke: {
                    show: true,
                    width: 2,
                    colors: ["transparent"],
                  },
                  xaxis: {
                    categories: ["Accepted", "Rejected"],
                    labels: {
                      style: {
                        fontWeight: "bold",
                        fontSize: "20px",
                        fontFamily: undefined,
                        colors: ["#ffffff", "#ffffff"],
                      },
                    },
                  },
                  yaxis: {
                    min: 0,
                    max: 100,
                    title: {
                      text: "Pull requests accepted percentage",
                      style: {
                        fontWeight: "bold",
                        fontSize: "20px",
                        fontFamily: undefined,
                        color: "#ffffff",
                      },
                      offsetX: -10,
                    },
                    labels: {
                      style: {
                        fontWeight: "bold",
                        fontFamily: undefined,
                        colors: ["#ffffff"],
                      },
                    },
                  },
                  grid: {
                    padding: {
                      left: 20,
                    },
                  },
                  fill: {
                    opacity: 1,
                  },
                  tooltip: {
                    y: {
                      formatter: function (val) {
                        return val + " %";
                      },
                    },
                  },
                }

                var options_accepted_rates_absolute = {
                  series: [
                    {
                      name: "Created by humans",
                      data: [11111, 22000],
                    },
                    {
                      name: "Created by bots",
                      data: [2321, 7624],
                    },
                  ],
                  chart: {
                    type: "bar",
                    height: 450,
                    offsetX: 50,
                    width: "95%"
                  },
                  legend: {
                    position: "bottom",
                    horizontalAlign: "right",
                    offsetX: 20,
                    offsetY: 20,
                    fontSize: "20px",
                    labels: {
                      colors: ["#ffffff", "#ffffff"],
                    },
                    itemMargin: {
                      horizontal: 20,
                      vertical: 0,
                    },
                  },
                  title: {
                    text: 'Pull requests',
                    align: 'center',
                    margin: 50,
                    style: {
                      fontSize: "30px",
                      fontWeight: 'bold',
                      fontFamily: undefined,
                      color: '#ffffff'
                    },

                  },
                  plotOptions: {
                    bar: {
                      horizontal: false,
                      columnWidth: "55%",
                      borderRadius: 5,
                      borderRadiusApplication: "end",
                      dataLabels: {
                        position: "top",
                      },
                    },
                  },
                  dataLabels: {
                    enabled: true,
                    offsetY: -30,
                    style: {
                      fontSize: "20px",
                      colors: ['#ffffff']
                    },
                    formatter: function (val) {
                      return val;
                    },
                  },
                  stroke: {
                    show: true,
                    width: 2,
                    colors: ["transparent"],
                  },
                  xaxis: {
                    categories: ["Accepted", "Rejected"],
                    labels: {
                      style: {
                        fontWeight: 'bold',
                        fontSize: "20px",
                        fontFamily: undefined,
                        colors: ['#ffffff', '#ffffff']
                      },
                    }

                  },
                  yaxis:
                  {
                    min: 0,
                    title: {
                      text: "Number of pull requests",
                      style: {
                        fontWeight: 'bold',
                        fontSize: "20px",
                        fontFamily: undefined,
                        color: '#ffffff'
                      },
                      offsetX: -10,
                    },
                    labels: {
                      style: {
                        fontWeight: "bold",
                        fontFamily: undefined,
                        colors: ["#ffffff"],
                      },

                    },
                  },
                  grid: {
                    padding: {
                      left: 20,
                    },
                  },
                  fill: {
                    opacity: 1,
                  },
                  tooltip: {
                    y: {
                      formatter: function (val) {
                        return val;
                      },
                    },
                  },
                };


                var chart_2 = new ApexCharts(document.querySelector("#percentage_of_pull_requests_chart"), options_accepted_rates_percentage);
                getPullRequestsRates(day_selected);
                chart_2.render();

                function toggleChart() {
                  document.getElementById('switchbox_V2VVB').addEventListener('click', function () {

                    if (chart_2.w.config.title.text == options_accepted_rates_percentage.title.text) {
                      chart_2.destroy();
                      chart_2 = new ApexCharts(document.querySelector("#percentage_of_pull_requests_chart"), options_accepted_rates_absolute);
                      getPullRequests(day_selected);
                      chart_2.render();


                    } else if (chart_2.w.config.title.text == options_accepted_rates_absolute.title.text) {
                      chart_2.destroy();
                      chart_2 = new ApexCharts(document.querySelector("#percentage_of_pull_requests_chart"), options_accepted_rates_percentage);
                      getPullRequestsRates(day_selected);
                      chart_2.render();
                    }

                  });
                }
                toggleChart();

                function getPullRequests(day_selected) {
                  var humanUrl = 'http://localhost:3201/bots_vs_humans/pull_requests_by_humans/' + day_selected;
                  var botUrl = 'http://localhost:3201/bots_vs_humans/pull_requests_by_bots/' + day_selected;

                  Promise.all([fetch(humanUrl), fetch(botUrl)])
                    .then(responses => Promise.all(responses.map(res => res.json())))
                    .then(([humanData, botData]) => {
                      const fetchedPullRequests = {
                        series: [
                          {
                            name: "Created by humans",
                            data: [humanData.number_of_accepted_pull_requests, humanData.number_of_rejected_pull_requests]
                          },
                          {
                            name: "Created by bots",
                            data: [botData.number_of_accepted_pull_requests, botData.number_of_rejected_pull_requests]
                          }
                        ]
                      };
                      chart_2.updateOptions(fetchedPullRequests);
                    });
                };

                function getPullRequestsRates(day_selected) {
                  var humanUrl = 'http://localhost:3201/bots_vs_humans/pull_requests_by_humans/' + day_selected;
                  var botUrl = 'http://localhost:3201/bots_vs_humans/pull_requests_by_bots/' + day_selected;

                  Promise.all([fetch(humanUrl), fetch(botUrl)])
                    .then(responses => Promise.all(responses.map(res => res.json())))
                    .then(([humanData, botData]) => {
                      
                      humanAcceptedRate = humanData.number_of_accepted_pull_requests
                        /(humanData.number_of_accepted_pull_requests + humanData.number_of_rejected_pull_requests)*100;
                      humanAcceptedRateTwoDecimals = humanAcceptedRate.toFixed(2);
                      humanRejectedRateTwoDecimals = (100 - humanAcceptedRateTwoDecimals).toFixed(2);

                      botAcceptedRate = botData.number_of_accepted_pull_requests
                        /(botData.number_of_accepted_pull_requests + botData.number_of_rejected_pull_requests)*100;
                      botAcceptedRateTwoDecimals = botAcceptedRate.toFixed(2);
                      botRejectedRateTwoDecimals = (100 - botAcceptedRateTwoDecimals).toFixed(2);


                      const fetchedPullRequestsRates = {
                        series: [
                          {
                            name: "Created by humans",
                            data: [humanAcceptedRateTwoDecimals, humanRejectedRateTwoDecimals]
                          },
                          {
                            name: "Created by bots",
                            data: [botAcceptedRateTwoDecimals, botRejectedRateTwoDecimals]
                          }
                        ]
                      };
                      chart_2.updateOptions(fetchedPullRequestsRates);
                    });
                };
              
              }
            
            </script>

    
          </div>
    
          <div class="card-body mt-4">
            <div class="mt-0 pb-0 ps-0 d-flex align-items-center justify-content-between">
              <h4 class="mb-0">Pull requests by humans and bots</h4>
              <div class="text-end mb-0 ">
                <button
                  type="button"
                  class="example-switchbox"
                  data-toggle-class="is-pressed"
                  id="switchbox_V2VVB"
                  aria-pressed="false"
                  title="Toggle this box">
                  <!--
                  The words 'yes' and 'no' are here to add more sense and to make
                  this component more accessible by not rendering each state with only colors.
                  -->
                  <span class="example-switchbox-yes"></span>
                  <span class="example-switchbox-no"></span>
                  <!-- The class `sr-only` is for hiding content for accessibility -->
                  <span class="sr-only">Toggle</span>
                </button>
                <!-- The label is associated to the trigger by the for attribute. -->
                <label for="switchbox_V2VVB">Toggle chart</label>

              </div>
            </div>

            <h5 class="text-sm ">From github activity in December 2024</h5>
            <hr class="dark horizontal">
            
            
            

          </div>
    
        </div>
    
      </div>
    
    </div>

    
    <!-- Initialize the tables for 1st of the month -->
    <script>
      const day_preselected = '1';
      update_top_human_contributors_table(day_preselected);
      update_top_bot_contributors_table(day_preselected);
      
      update_toggling_pull_requests_chart(day_preselected);
      updateNumberOfGithubEventsChart(day_preselected);
    </script>
    
    <!-- Change day based on selection -->
    <script>
      listen_to_selected_day();
      document.getElementById("day_dropdown_list_selection").addEventListener(
          "change", function() {
        let day_selected = this.value;
        update_top_human_contributors_table(day_selected);
        update_top_bot_contributors_table(day_selected);
        
        update_toggling_pull_requests_chart(day_selected);
        updateNumberOfGithubEventsChart(day_selected);

        
      })
    </script>


  </div>

  
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}

<!-- Stacked bar graph kept for reference -->
<!-- Bar chart instead of pie chart for the Github events
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
              <div class="bg-gradient-dark shadow-dark border-radius-lg py-3 pe-1">
                <div id="percentage_of_events_horizontal_stacked_bar_graph" style="height: 400px;"></div>
              </div>
            </div>
            <script>

              function updateNumberOfGithubEventsChart(day_selected) {
                
                var options = {
                  title: {
                    text: 'Github events',
                    align: 'center',
                    margin: 50,
                    style: {
                      fontSize: '25px',
                      fontWeight: 'bold',
                      fontFamily: undefined,
                      color: '#ffffff'
                    },
                  },
                  legend: {
                    position: 'top',
                    horizontalAlign: 'center',
                    offsetX: 40,
                    fontSize: '20px',

                    labels: {
                      colors: ["#ffffff", "#ffffff"],
                    },

                    itemMargin: {
                      horizontal: 40,
                      vertical: 0
                    },
                  },
                  series: [{
                    name: 'Created by humans',
                    data: [22410]
                  },
                  {
                    name: 'Created by bots',
                    data: [77590]
                  }],
                  dataLabels: {
                    enabled: true,
                    style: {
                      fontSize: '20px'
                    },
                    // The formatter has the percentage of number of events (for humans or bots) as input and not the number of events because the chart is a 100% chart meaning it automatically calculates the rates from the numbers
                    formatter: function (numberOfEventsRate) {
                        return numberOfEventsRate.toFixed(2) + '%';
                    }
                  },
                  chart: {
                    type: 'bar',
                    height: 400,
                    stacked: true,
                    stackType: '100%'
                  },
                  plotOptions: {
                    bar: {
                      horizontal: true,
                    },
                  },
                  stroke: {
                    width: 1,
                    colors: ['#ffffff']
                  },

                  xaxis: {
                    categories: [""],
                    title: {
                      text: 'Total number of events: ?',
                      style: {
                        fontSize: '20px',
                        fontFamily: undefined,
                        fontWeight: 200,
                        color: '#ffffff'
                      },
                      margin: 20,
                      offsetX: 10,
                      offsetY: 10,
                    },
                    labels: {
                      style: {
                        colors: ['#ffffff', '#ffffff', '#ffffff', '#ffffff'],
                        fontSize: '14px',
                        fontFamily: 'Helvetica, Arial, sans-serif',
                        fontWeight: 400,
                        cssClass: 'apexcharts-xaxis-label',
                      }
                    }

                  },

                  tooltip: {
                    y: {
                      formatter: function (numberOfEvents) {
                        return numberOfEvents;
                      }
                    }
                  },
                  fill: {
                    opacity: 1

                  },

                };

                var chart = new ApexCharts(document.querySelector("#percentage_of_events_horizontal_stacked_bar_graph"), options);
                chart.render();

                const numberOfEventsUrl = 'http://localhost:3201/bots_vs_humans/number_of_events_by_humans_and_bots/' + day_selected;
                fetch(numberOfEventsUrl)
                  .then(response => response.json())
                  .then(data => {
                    const total_number_of_events_by_humans = data["humans"]["total_number_of_events"];
                    const total_number_of_events_by_bots = data["bots"]["total_number_of_events"];
                    const fetchedNumberOfEvents = {
                      series: [{
                          name: 'Created by humans',
                          data: [total_number_of_events_by_humans]
                        },
                        {
                          name: 'Created by bots',
                          data: [total_number_of_events_by_bots]
                        }],
                        xaxis: {
                          title: {
                            text: 'Total number of events: ' + (total_number_of_events_by_humans + total_number_of_events_by_bots),
                          }

                        }
                      };
                    chart.updateOptions(fetchedNumberOfEvents);
                  }) 
              }
              

            </script>
            -->

</body>