{% extends "layouts/base.html" %}

{% block title %} Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" href="../../static/assets/css/toggling_button.css">

{% endblock stylesheets %}

{% block content %}
<head>
<style>
    th, td {
      text-align: center;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
    <div class="container-fluid py-1 px-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
          <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Github Analyzer</a></li>
          <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Deep insights, issues</li>
        </ol>
        <h6 class="font-weight-bolder mb-0">Deep insights, issues</h6>
      </nav>
      <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
    </div>
  </nav>


  <div class="container-fluid py-4">
    
    <!-- Issues analysis -->
    <div class="row">
      <div class="col-lg-5 col-md-12">
      <!-- <div class="mb-xl-0 mb-4 p-5 pt-2"> -->
        <div class="card">
          <div class="card-header card-header-warning">
            <h3 class="card-title">Issues analysis</h3>
            <p>Based on Github issues during 2024</p>
          </div>
        </div>
      </div> 
    </div>
    
    <div class="row mb-4">
    <!-- Select repo text box -->  
      <div class="col-lg-4 col-md-6 mt-4"  style="flex: 0 0 auto; max-height: 100px">
        <div class="card h-100">
          <div class="card-header pb-0 py-3 d-flex align-items-center justify-content-between">
            <!-- <h5>Selected month</h5><h6 class="mb-0 text-sm">Alexa Liras</h6> -->
            <span class="text-dark font-weight-bold ms-sm-2">Select repository:</span>
            
            <div class="ms-md-auto pe-md-3 d-flex align-items-center">
              <div id="select_repo_to_get_issue_closing_times_per_labels" 
                    class="input-group input-group-outline">
                <label class="form-label">e.g. openssl/openssl</label>
                <input type="text" class="form-control">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Datatables -->
    <div class="row mb-4 mt-4">
      
      <!-- Issues' closing times by label (datatables)-->
      <div class="col-lg-12 col-md-12">
        <div class="card" >

          <div class="card-header card-header-warning" >
            <h5 class="card-title">Average issue closing times by label</h5>
            <span id="closing_time_by_label_repo_mirror">of selected repository: 
              <span id="preselected_repo_for_issue_closing_times_by_label">- - -</span>
            </span>
          </div>

          
          <div class="card-body table-responsive" style="margin-top: -1rem;">
            <table id="example" class="display">
              <thead>
                  <tr>
                      <th>Order</th>
                      <th>Issue label</th>
                      <th>Count</th>
                      <th>Average issue closing time</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                    <td>1</td>
                    <td>bug</td>
                    <td>10</td>
                    <td>125</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>waiting triage</td>
                    <td>5</td>
                    <td>125</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>to_fix</td>
                    <td>7</td>
                    <td>125</td>
                </tr>
            </tbody>
              <tfoot>
                <tr>
                  <th>Place</th>
                  <th>Issue label</th>
                  <th>Count</th>
                  <th>Average issue closing time</th>
                </tr>
              </tfoot>
            </table> 
          </div>
          
          <div class="card-body" style="margin-top: -2rem;">
                    
            <h6 class="mb-0"> Total number of issues:
              <span id="repo_total_number_of_issues_id"> 242134234
              </span>
            </h6>
            <h6 class="mb-0"> 95% of closing times should be falling in the interval between
              <span id="repo_closing_times_interval_lower_lim_id">-1 months, 2 years
              </span>
            and
            <span id="repo_closing_times_interval_upper_lim_id">3 seconds, 0 months
              </span>
            </h6>
            
          </div>

          <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
          <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
          
          <script src="https://cdn.datatables.net/2.3.1/js/jquery.dataTables.min.js"></script>
          <script src="https://cdn.datatables.net/2.3.1/js/dataTables.min.js"></script>
          <script src="https://cdn.datatables.net/2.3.1/js/dataTables.js"></script>
          <script src="https://cdn.datatables.net/rowgroup/1.5.1/js/dataTables.rowGroup.js"></script>
          <script src="https://cdn.datatables.net/rowgroup/1.5.1/js/rowGroup.dataTables.js"></script>

          <script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/2.3.1/luxon.min.js"></script>

          <link rel="stylesheet" href="https://cdn.datatables.net/2.3.1/css/dataTables.dataTables.min.css">
          <link rel="stylesheet" href="https://cdn.datatables.net/2.3.1/css/dataTables.dataTables.css"></link>
          <link rel="stylesheet" href="https://cdn.datatables.net/rowgroup/1.5.1/css/rowGroup.dataTables.css"></link> 

          <script>
                            

            function seconds_to_durations_dict(seconds) {
              var dur = luxon.Duration.fromObject({seconds: seconds}).shiftTo('years', 'months', 'weeks', 'days', 'hours', 'minutes', 'seconds')              
              return dur.toObject();
            }

            function duration_dict_to_first_two_keys_dict(duration_dict) {
              var first_two_non_zero_values_dict = {};

              for (const [key, value] of Object.entries(duration_dict)){
                  if (Object.keys(first_two_non_zero_values_dict).length >= 2) {
                      break;
                  }
                  if (value != 0) {
                      first_two_non_zero_values_dict[key] = value;
                  } 
              }    

              if (Object.keys(first_two_non_zero_values_dict).length === 0) {
                first_two_non_zero_values_dict["seconds"] = 0;
              }

              return first_two_non_zero_values_dict
            }

            function duration_dict_to_formatted_string(duration_dict) {
              var largest_two_durations_formatted = ''
              for (const [key, value] of Object.entries(duration_dict))
              largest_two_durations_formatted = 
                  largest_two_durations_formatted + value + ' ' + key + ', '
              largest_two_durations_formatted = largest_two_durations_formatted.slice(',', -2)


              return largest_two_durations_formatted
            }
          </script>
          
          <script>
            function seconds_to_formatted_string(seconds) {
              const duration_dict_val = seconds_to_durations_dict(seconds);
              
              const first_two_keys_dict = duration_dict_to_first_two_keys_dict(duration_dict_val);
              
              const first_two_keys_dict_string_formatted_val = duration_dict_to_formatted_string(first_two_keys_dict);

              return first_two_keys_dict_string_formatted_val
            }

            DataTable.render.seconds_to_durations_string_formatted = function ( ) {
              return function ( data, type, row ) {
                    if (type == "display") {
                      return seconds_to_formatted_string(data);
                    }
                    // Search, order and type can use the original data
                    return data
                };
              };


            // Global variable representing the IssueByLabelDataTable
            // var issuesByLabelDataTable =  new DataTable('#example');

            var issuesByLabelDataTable = new DataTable('#example', {
                  // var issuesByLabelDataTableMirror = $('#example').DataTable({
                  // order: [[3, 'desc']],   
                  columnDefs: [
                        // {
                        //     targets: 3,
                        //     render: DataTable.render.number(null, null, 0)
                        // },
                        {
                            targets: 3,
                            render: DataTable.render.seconds_to_durations_string_formatted()
                        },
                        {
                          className: "dt-head-center", 
                          targets: "_all"
                        },
                        {
                          className: "dt-body-center", 
                          targets: "_all"
                        },
                    ]
            });

      
            


            function updateIssuesByLabelDataTable(repo_selected) {  

              const issuesByLabelUrl = 'http://localhost:3200/deep_insights_issues/issues_closing_times_by_label/' + repo_selected;

              fetch(issuesByLabelUrl)
                .then(response => response.json())
                .then(data => {
                  
                  // Update datatable body
                  const numberOfIssuesLabels = data["closing_times_per_label"].length;
                  issuesByLabelDataTable.clear().draw();
                  
                  // Paint the row red if the issue closing time in seconds is higher than the upper limit threshold (mean + 2 * sigma)
                  const closing_times_avg = data["average_closing_time_of_all_repo_issues"];
                  const closing_time_std = data["closing_time_standard_deviation"];
                  const number_of_stds_from_mean = 2
                  const lower_closing_time_threshold = closing_times_avg - number_of_stds_from_mean * closing_time_std;
                  const upper_closing_time_threshold = closing_times_avg + number_of_stds_from_mean * closing_time_std;
                  
                  for (var rowIndex=0; rowIndex < numberOfIssuesLabels; rowIndex++) {  
                    var rowOrder = rowIndex+1;
                    var rowIssueLabel = data["closing_times_per_label"][rowIndex]["issue_label"];
                    var rowCount = data["closing_times_per_label"][rowIndex]["number_of_issues_with_this_label"];
                    var rowSeconds = data["closing_times_per_label"][rowIndex]["average_closing_time_in_seconds"];
                    var rowAverageClosingTimesSeconds = data["closing_times_per_label"][rowIndex]["average_closing_time_in_seconds"];
                    
                    
                    issuesByLabelDataTable.on('draw', function () {
                      issuesByLabelDataTable.rows().every(function () {
                        const data = this.data();
                        if (data[4] > upper_closing_time_threshold) {
                          console.log(data[4] + ">" + upper_closing_time_threshold);
                          $(this.node()).css('background-color', '#ffeeba');
                        }
                      });
                    });
                    issuesByLabelDataTable.row.add([rowOrder, rowIssueLabel, rowCount, rowSeconds, rowAverageClosingTimesSeconds]).draw();
                  };                 

                  // Update datatable legend
                  var total_number_of_issues_of_repo = 0;
                  for (var rowIndex=0; rowIndex < numberOfIssuesLabels; rowIndex++) {  
                    total_number_of_issues_of_repo += data["closing_times_per_label"][rowIndex]["number_of_issues_with_this_label"];
                  };
                  
                  // TODO: This is wrong - see console.log 
                  document.getElementById("repo_total_number_of_issues_id").textContent = total_number_of_issues_of_repo.toString();
                  // document.getElementById("repo_closing_times_interval_lower_lim_id").textContent = lower_closing_time_threshold.toString(); // Time cannot be lower than 0
                  // document.getElementById("repo_closing_times_interval_upper_lim_id").textContent = upper_closing_time_threshold.toString();

                  document.getElementById("repo_closing_times_interval_lower_lim_id").textContent = seconds_to_formatted_string(Math.max(lower_closing_time_threshold, 0)); // Time cannot be lower than 0
                  document.getElementById("repo_closing_times_interval_upper_lim_id").textContent = seconds_to_formatted_string(upper_closing_time_threshold);

                });

            }

   
          </script>
          

         

       

        </div>
      </div>

    


    </div>




    <!-- Select repo, get the closing times of issues per label -->
    

    <!-- Select repo to get its issue labels -->
    <div class="row mb-4">
      
    
      

      <script>
        let repo_selected = null;
        document.querySelector("#select_repo_to_get_issue_closing_times_per_labels input").addEventListener(
            "keydown", function() {
              if (event.key == "Enter") {
                repo_selected = this.value;
                document.getElementById("preselected_repo_for_issue_closing_times_by_label").textContent = repo_selected; 

                
                updateIssuesByLabelDataTable(repo_selected);                
              }
        })
      </script>

      <!-- Preselect a repo to show upon render of the page -->
      <script>
        const repo_whose_issue_closing_times_to_get = "openssl/openssl";
        // const repo_whose_issue_closing_times_to_get = "Expensify/App";
        document.getElementById("preselected_repo_for_issue_closing_times_by_label").textContent = repo_whose_issue_closing_times_to_get; 
        
        updateIssuesByLabelDataTable(repo_whose_issue_closing_times_to_get);        
      </script>



    </div>


    <!-- Big title: Deep Insights issues, comparison of repos  -->
    <div class="row mb-4">
      <div class="col-lg-5 col-md-12">
      <!-- <div class="mb-xl-0 mb-4 p-5 pt-2"> -->
        <div class="card">
          <div class="card-header card-header-warning">
            <h3 class="card-title">Deep Insights, comparison of repositories</h4>
            <p>Based on Github events in December 2024</p>
          </div>
        </div>
      </div> 
    </div>

    <!-- Smaller title: Closing times of pull-requests and issues -->
    <div class="row mb-4">
      <div class="col-lg-5 col-md-12">
        <div class="card">
          <div class="card-header card-header-warning">
            <h4 class="card-title">Closing times of pull-requests and issues </h4>
          </div>
        </div>
      </div> 
    </div>

    <!-- Select repos row with search box-->
    <div class="row mb-5">
      <!-- Select repo 1 -->
      <div class="col-lg-6 col-md-4">
        <div class="card h-100">
          <div class="card-header pb-0 py-3 d-flex align-items-center justify-content-between">
            <span id="selected_repo_mirror_repo_1" class="text-dark font-weight-bold ms-sm-2">Select repository:</span>
            
            <div class="ms-md-auto pe-md-3 d-flex align-items-center">
              <div id="repo_selection_search_box_repo_1" class="input-group input-group-outline">
                <label class="form-label">e.g. openssl/openssl</label>
                <input type="text" class="form-control">
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-lg-6 col-md-12">
        <div class="card h-100">
          <div class="card-header pb-0 py-3 d-flex align-items-center justify-content-between">
            <span id="selected_repo_mirror_repo_2" class="text-dark font-weight-bold ms-sm-2">Select repository:</span>
            <div class="ms-md-auto pe-md-3 d-flex align-items-center">
              <div id="repo_selection_search_box_repo_2" class="input-group input-group-outline">
                <label  class="form-label">e.g. facebook/react</label>
                <input type="text" class="form-control">

                

              </div>
            </div>

          </div>
        </div>
      </div>


    </div>

     <!-- Closing times bar charts -->
    <div class="row mb-4 mt-4">
      
      <script>
        function seconds_to_larger_time_durations(seconds_to_transform){

          const seconds_in_a_year = 365*24*60*60;
          const seconds_in_a_month = 30*24*60*60;
          const seconds_in_a_day = 24*60*60;
          const seconds_in_an_hour = 60*60;
          const seconds_in_a_minute = 60;

          // Keep two decimals 
          const seconds_altered_precision = seconds_to_transform.toFixed(2)

          let years = Math.floor(seconds_altered_precision / seconds_in_a_year);
          let remaining_seconds = seconds_altered_precision % seconds_in_a_year;
              
          let months = Math.floor(remaining_seconds/seconds_in_a_month);
          remaining_seconds = remaining_seconds % seconds_in_a_month;

          let days = Math.floor(remaining_seconds / seconds_in_a_day);
          remaining_seconds = remaining_seconds % seconds_in_a_day;

          let hours = Math.floor(remaining_seconds / seconds_in_an_hour);
          remaining_seconds = remaining_seconds % seconds_in_an_hour;

          let minutes = Math.floor(remaining_seconds / seconds_in_a_minute);
          remaining_seconds = remaining_seconds % seconds_in_a_minute;
          let seconds = remaining_seconds;


          const time_dict = {'y': Math.round(years), 'm': Math.round(months), 'd': Math.round(days), 
              'h': Math.round(hours), 'min': Math.round(minutes), 's': Math.round(seconds)};

          let time_dict_keep_largest_two_non_zero_durations = {}

          for (const [key, value] of Object.entries(time_dict)){
              if (value != 0){
                  time_dict_keep_largest_two_non_zero_durations[key] = value;
              }
              if (Object.keys(time_dict_keep_largest_two_non_zero_durations).length == 2){
                  break;
              }

          }

            return time_dict_keep_largest_two_non_zero_durations;
          }

        function stringify_time_dict(time_dict){
          let time_dict_stringified = '';
          for (let [key, value] of  Object.entries(time_dict)){
              time_dict_stringified = time_dict_stringified + ", " + value + " " + key;
          }
          // Remove first two characters from the string
          time_dict_stringified = time_dict_stringified.slice(2); 
          return time_dict_stringified    
          }
      </script>
    
    
    
      <!-- Histogram for pull-request closing times 2-->
      <div class="col-lg-6 col-md-12">
        <div class="card">
          <div class="chart-container">
            <script src="/static/assets/js/plugins/chartjs.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
              integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
              crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>      
            <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
            
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
              <div class="bg-gradient-dark shadow-dark border-radius-lg py-3 pe-1">
                  <div id="pull_requests_closing_times_bar_chart_id" style="height: 650px;"></div>
              </div>
            </div>
            
            <!-- Dynamic pull requests chart -->


            <script>
              // Preselected bar heights list
              var pull_requests_bar_heights_list = [34, 7, 20, 56, 23, 1, 50];
              var sum_of_pull_requests_bar_heights = pull_requests_bar_heights_list.reduce((a, b) => a + b, 0);
              

              var pull_requests_closing_times_bar_chart_options = {
                    series: [
                      {
                        name: "Number of pull requests based on their closing times duration",
                        data: [3, 7, 20, 16, 23, 10, 5],
                      },
                    ],
                    chart: {
                      type: "bar",
                      height: 600,
                      offsetX: 30,
                      offsetY: 40,
                      width: "95%", 
                    },
                    title: {
                      text: "Number of pull requests based on their closing times duration",
                      align: "center",
                      margin: 30,
                      offsetY: -20,
                      style: {
                        fontSize: "25px",
                        fontWeight: "bold",
                        fontFamily: undefined,
                        color: "#ffffff",
                      },
                    },
                    plotOptions: {
                      bar: {
                        horizontal: false,
                        columnWidth: "55%",
                        borderRadius: 5,
                        borderRadiusApplication: "end",
                        dataLabels: {
                          position: "top",
                        },
                      },
                    },
                    dataLabels: {
                      enabled: true,
                      offsetY: -30,
                      style: {
                        fontSize: "20px",
                        colors: ["#fff"],
                      },
                      formatter: function (val) {
                      // Calculating percentages
                      return (val/sum_of_pull_requests_bar_heights*100).toFixed(2) + '%';
                      },
                    },
                    stroke: {
                      show: true,
                      width: 2,
                      colors: ["transparent"],
                    },
                    xaxis: {
                      title: {
                        text: "Duration from opening to closing time",
                        style: {
                          fontWeight: "bold",
                          fontSize: "20px",
                          fontFamily: undefined,
                          color: "#ffffff",
                        },
                        offsetX: -30,
                        offsetY: 20
                      },
                      categories: ["0 sec - 1 min", "1 min - 1 h", "1 h - 1 d", "1 d - 1 m", "1 m - 1 y", "1 y - 10 y", "10y - 12 y, 35 m"],
                      labels: {
                        rotate: -30,
                        rotateAlways: true,
                        hideOverlappingLabels: false,
                        style: {
                          fontWeight: "bold",
                          fontSize: "15px",
                          fontFamily: undefined,
                          colors: "#ffffff",
                        },
                        offsetY: 10
                      },
                    },
                    annotations: {
                      points: [
                        {
                          x: '1 m - 1 y',
                          seriesIndex: 0,
                          label: {
                            borderColor: '#775DD0',
                            offsetY: -25,
                            style: {
                              fontWeight: "bold",
                              fontSize: "15px",
                              color: '#fff',
                              background: '#208214',
                            },
                            text: 'user_1/repo_1',
                          }
                        },
                        {
                          x: '1 m - 1 y',
                          seriesIndex: 0,
                          label: {
                            borderColor: '#775DD0',
                            offsetY: 0,
                            style: {
                              fontWeight: "bold",
                              fontSize: "15px",
                              color: '#fff',
                              background: '#821440',
                            },
                            text: 'user_2/repo_2'
                          }
                        },
                      ]
                    },
                    yaxis: {
                      // min: 0,
                      // max: 32,
                      title: {
                        text: "Number of pull requests",
                        style: {
                          fontWeight: "bold",
                          fontSize: "20px",
                          fontFamily: undefined,
                          color: "#ffffff",
                        },
                        offsetX: -10,
                      },
                      labels: {
                        style: {
                          fontWeight: "bold",
                          fontFamily: undefined,
                          colors: ["#ffffff"],
                        },
                      },
                    },
                    grid: {
                      padding: {
                        left: 20,
                        bottom: 20
                      },
                    },
                    fill: {
                      opacity: 1,
                    },
                    tooltip: {
                      y: {
                        formatter: function (val) {
                          return val;
                        },
                      },
                    },
                  }

              var pull_requests_closing_times_bar_chart = new ApexCharts(document.querySelector("#pull_requests_closing_times_bar_chart_id"), pull_requests_closing_times_bar_chart_options);
              pull_requests_closing_times_bar_chart.render()

              function updatePullRequestsBarChart(selected_repo_1, selected_repo_2) {
                
                
                const pullRequestsBarChartUrl = 'http://localhost:3200/deep_insights_issues/pull_request_closing_times_bar_chart/'+ selected_repo_1+ '/vs/'+ selected_repo_2 ;
                fetch(pullRequestsBarChartUrl)
                  .then(response => response.json())
                  .then(data => {
                    // Destroy and then re-render the chart for faster re-render. 
                    // as using only percentage_of_events_pie_chart.updateOptions() renders too slow or not at all
                    pull_requests_closing_times_bar_chart.destroy();
                    // Add the number of repos in the topic 
                    pull_requests_bar_heights_list = data["abs_frequencies"]

                    
                    pull_requests_closing_times_bar_chart_options.series[0].data = pull_requests_bar_heights_list
                    
                    sum_of_pull_requests_bar_heights = pull_requests_bar_heights_list.reduce((a, b) => a + b, 0);

                    pull_requests_closing_times_bar_chart_options.xaxis.categories = data["corresponding_bin_centers_labels"]
                    pull_requests_closing_times_bar_chart_options.annotations.points = [
                      {
                        x: data["bin_center_label_of_average_pull_request_closing_time_of_repo_1"],
                        seriesIndex: 0,
                        label: {
                          borderColor: '#775DD0',
                          offsetY: -25,
                          style: {
                            fontWeight: "bold",
                            fontSize: "15px",
                            color: '#fff',
                            background: '#208214',
                          },
                          text: data["repo_name_1"],
                        }
                      },
                      {
                        x: data["bin_center_label_of_average_pull_request_closing_time_of_repo_2"],
                        seriesIndex: 0,
                        label: {
                          borderColor: '#775DD0',
                          offsetY: 0,
                          style: {
                            fontWeight: "bold",
                            fontSize: "15px",
                            color: '#fff',
                            background: '#821440',
                          },
                          text: data["repo_name_2"],
                        }
                      },]

                    pull_requests_closing_times_bar_chart = new ApexCharts(document.querySelector("#pull_requests_closing_times_bar_chart_id"), pull_requests_closing_times_bar_chart_options);
                    pull_requests_closing_times_bar_chart.render();
                  }) 
              }
            
             
            </script> 



          </div>
          <div class="card-body mt-4">
            <h6 class="mb-0 ">Closing times of pull-requests in Github</h6>
            <p class="text-sm ">From github events in December 2024</p>
                        
            <h6 class="mb-0" id="repo_1_and_pull_request_closing_time_stringified_id">user_1/repo_1: 8 m, 2 d</h6>
            <h6 class="mb-0" id="repo_2_and_pull_request_closing_time_stringified_id">user_2/repo_2: 1 m, 28 d</h6>

            <script>
              function updateRepoAndPullRequestsClosingTimesInChartContainer(repo_name_1, repo_name_2) {
                  const pullRequestsBarChartUrl = 'http://localhost:3200/deep_insights_issues/pull_request_closing_times_bar_chart/'+ repo_name_1 + '/vs/'+ repo_name_2;
                  fetch(pullRequestsBarChartUrl)
                    .then(response => response.json())
                    .then(data => {
                      document.getElementById("repo_1_and_pull_request_closing_time_stringified_id").textContent = 
                        repo_name_1 + ": " + data["average_pull_request_closing_time_of_repo_1_stringified"];

                      document.getElementById("repo_2_and_pull_request_closing_time_stringified_id").textContent = 
                        repo_name_2 + ": " + data["average_pull_request_closing_time_of_repo_2_stringified"];

                  })
                }  
            </script>

            <hr class="dark horizontal">
            <div class="d-flex">
              <i class="material-icons text-sm my-auto me-1">schedule</i>
              <p class="mb-0 text-sm">December 2024</p>
            </div>
          </div>
        </div>
        
      </div>
    

      <!-- Histogram for issues closing times 2-->      
      <div class="col-lg-6 col-md-12">
        <div class="card">
          <div class="chart-container">
            <script src="/static/assets/js/plugins/chartjs.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
              integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
              crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>      
            <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
              <div class="bg-gradient-dark shadow-dark border-radius-lg py-3 pe-1">
                  <div id="issues_closing_times_bar_chart_id" style="height: 650px;"></div>

              </div>
            </div>
            
            
            <!-- Dynamic issues chart -->
            <script>
              // Preselected bar heights list
              var issues_bar_heights_list = [34, 7, 20, 56, 23, 1, 50];
              var sum_of_issues_bar_heights = issues_bar_heights_list.reduce((a, b) => a + b, 0);
              
              var issues_closing_times_bar_chart_options = {
                  series: [
                    {
                      name: "Number of issues based on their closing times duration",
                      data: [3, 7, 20, 16, 23, 10, 5],
                    },
                    
                  ],
                  chart: {
                    type: "bar",
                    height: 600,
                    offsetX: 30,
                    offsetY: 40,
                    width: "95%", 
                  },

                  title: {
                    text: "Number of issues based on their closing times duration",
                    align: "center",
                    margin: 30,
                    offsetY: -20,
                    style: {
                      fontSize: "25px",
                      fontWeight: "bold",
                      fontFamily: undefined,
                      color: "#ffffff",
                    },
                  },

                  plotOptions: {
                    bar: {
                      horizontal: false,
                      columnWidth: "55%",
                      borderRadius: 5,
                      borderRadiusApplication: "end",
                      dataLabels: {
                        position: "top",
                      },
                    },
                  },
                  dataLabels: {
                    enabled: true,
                    offsetY: -30,
                    style: {
                      fontSize: "20px",
                      colors: ["#fff"],
                    },
                    formatter: function (val) {
                      // Calculating percentages
                      return (val/sum_of_issues_bar_heights*100).toFixed(2) + '%';
                    },
                  },
                  stroke: {
                    show: true,
                    width: 2,
                    colors: ["transparent"],
                  },
                  xaxis: {
                    title: {
                      text: "Duration from opening to closing time",
                      style: {
                        fontWeight: "bold",
                        fontSize: "20px",
                        fontFamily: undefined,
                        color: "#ffffff",
                      },
                      offsetX: -30,
                      offsetY: 20
                    },
                    categories: ["0 sec - 1 min", "1 min - 1 h", "1 h - 1 d", "1 d - 1 m", "1 m - 1 y", "1 y - 10 y", "10y - 12 y, 35 m"],
                    labels: {
                      rotate: -30,
                      rotateAlways: true,
                      hideOverlappingLabels: false,
                      style: {
                        fontWeight: "bold",
                        fontSize: "15px",
                        fontFamily: undefined,
                        colors: "#ffffff",
                      },
                      offsetY: 10
                    },
                  },
                  annotations: {
                    points: [
                      {
                        x: '0 sec - 1 min',
                        seriesIndex: 0,
                        label: {
                          borderColor: '#775DD0',
                          offsetY: -25,
                          style: {
                            fontWeight: "bold",
                            fontSize: "15px",
                            color: '#fff',
                            background: '#208214',
                          },
                          text: 'user_1/repo_1',
                        }
                      },
                      {
                        x: '1 m - 1 y',
                        seriesIndex: 0,
                        label: {
                          borderColor: '#775DD0',
                          offsetY: 0,
                          style: {
                            fontWeight: "bold",
                            fontSize: "15px",
                            color: '#fff',
                            background: '#821440',
                          },
                          text: 'user_2/repo_2'
                        }
                      },
                    ]
                  },
                  yaxis: {
                    // min: 0,
                    // max: 30,
                    title: {
                      text: "Number of issues",
                      style: {
                        fontWeight: "bold",
                        fontSize: "20px",
                        fontFamily: undefined,
                        color: "#ffffff",
                      },
                      offsetX: -10,
                    },
                    labels: {
                      style: {
                        fontWeight: "bold",
                        fontFamily: undefined,
                        colors: ["#ffffff"],
                      },
                    },
                  },
                  grid: {
                    padding: {
                      left: 20,
                      bottom: 20
                    },
                  },
                  fill: {
                    opacity: 1,
                  },
                  tooltip: {
                    y: {
                      formatter: function (val) {
                        return val;
                      },
                    },
                  },
                }

              var issues_closing_times_bar_chart = new ApexCharts(document.querySelector("#issues_closing_times_bar_chart_id"), issues_closing_times_bar_chart_options);
              issues_closing_times_bar_chart.render();
                
               
              function updateIssuesBarChart(selected_repo_1, selected_repo_2) {
                
                
                const IssuesBarChartUrl = 'http://localhost:3200/deep_insights_issues/issues_closing_times_bar_chart/'+ selected_repo_1+ '/vs/'+ selected_repo_2 ;
                fetch(IssuesBarChartUrl)
                  .then(response => response.json())
                  .then(data => {
                    // Destroy and then re-render the chart for faster re-render. 
                    // as using only percentage_of_events_pie_chart.updateOptions() renders too slow or not at all
                    issues_closing_times_bar_chart.destroy();
                    // Add the number of repos in the topic 
                    issues_bar_heights_list = data["abs_frequencies"]

                    
                    issues_closing_times_bar_chart_options.series[0].data = issues_bar_heights_list
                    
                    sum_of_issues_bar_heights = issues_bar_heights_list.reduce((a, b) => a + b, 0);

                    issues_closing_times_bar_chart_options.xaxis.categories = data["corresponding_bin_centers_labels"]
                    issues_closing_times_bar_chart_options.annotations.points = [
                      {
                        x: data["bin_center_label_of_average_issue_closing_time_of_repo_1"],
                        seriesIndex: 0,
                        label: {
                          borderColor: '#775DD0',
                          offsetY: -25,
                          style: {
                            fontWeight: "bold",
                            fontSize: "15px",
                            color: '#fff',
                            background: '#208214',
                          },
                          text: data["repo_name_1"],
                        }
                      },
                      {
                        x: data["bin_center_label_of_average_issue_closing_time_of_repo_2"],
                        seriesIndex: 0,
                        label: {
                          borderColor: '#775DD0',
                          offsetY: 0,
                          style: {
                            fontWeight: "bold",
                            fontSize: "15px",
                            color: '#fff',
                            background: '#821440',
                          },
                          text: data["repo_name_2"],
                        }
                      },]

                    issues_closing_times_bar_chart = new ApexCharts(document.querySelector("#issues_closing_times_bar_chart_id"), issues_closing_times_bar_chart_options);
                    issues_closing_times_bar_chart.render();
                  }) 
              }
            
            
            
            </script>


          </div>
          <div class="card-body mt-4">
            <h6 class="mb-0 " >Closing times of issues in Github</h6>
            <p class="text-sm ">From github events in December 2024</p>

            <h6 class="mb-0" id="repo_1_and_issue_closing_time_stringified_id">user_1/repo_1: 0 sec</h6>
            <h6 class="mb-0 " id="repo_2_and_issue_closing_time_stringified_id">user_2/repo_2: 6 m, 14 d</h6>

            
            
            <hr class="dark horizontal">
            <div class="d-flex">
              <i class="material-icons text-sm my-auto me-1">schedule</i>
              <p class="mb-0 text-sm">December 2024</p>
            </div>
          </div>
        </div>
        
      </div>

      


    </div>
    

    <script>      
      // Preselect repos
      let repo_1_selected = 'openssl/openssl';
      let repo_2_selected = 'facebook/react';

      function update_label(label_to_mirror, repo_selected){
        var selected_repo_mirror = document.getElementById(label_to_mirror);
        selected_repo_mirror.textContent = "Selected repo: '" + repo_selected + "'";                  
      }


      document.querySelector("#repo_selection_search_box_repo_1 input").addEventListener(
          "keydown", function() {
            if (event.key == "Enter") {
              repo_1_selected = this.value;
              update_label("selected_repo_mirror_repo_1", repo_1_selected);
              check_and_create_pull_request_closing_times_histogram();
            }
        
      })
      document.querySelector("#repo_selection_search_box_repo_2 input").addEventListener(
          "keydown", function() {
            if (event.key == "Enter") {
              repo_2_selected = this.value;
              update_label("selected_repo_mirror_repo_2", repo_2_selected);
              check_and_create_pull_request_closing_times_histogram();
            }
        
      })

    
      function updateRepoAndIssuesClosingTimesInChartContainer(repo_name_1, repo_name_2) {
          const issuesBarChartUrl = 'http://localhost:3200/deep_insights_issues/issues_closing_times_bar_chart/'+ repo_name_1 + '/vs/'+ repo_name_2;
          fetch(issuesBarChartUrl)
            .then(response => response.json())
            .then(data => {
              document.getElementById("repo_1_and_issue_closing_time_stringified_id").textContent = 
                repo_name_1 + ": " + data["average_issue_closing_time_of_repo_1_stringified"];

              document.getElementById("repo_2_and_issue_closing_time_stringified_id").textContent = 
                repo_name_2 + ": " + data["average_issue_closing_time_of_repo_2_stringified"];

          })
        }  
    

      function check_and_create_pull_request_closing_times_histogram() {
          
        if (repo_1_selected && repo_2_selected) {

            console.log("Creating pull-requests closing times histogram including repos:")
            console.log(repo_1_selected);
            console.log(repo_2_selected);  
            
            updatePullRequestsBarChart(repo_1_selected, repo_2_selected);
            updateRepoAndPullRequestsClosingTimesInChartContainer(repo_1_selected, repo_2_selected);

            updateIssuesBarChart(repo_1_selected, repo_2_selected);
            updateRepoAndIssuesClosingTimesInChartContainer(repo_1_selected, repo_2_selected);
        }
      }
      
      // check_and_create_pull_request_closing_times_histogram(repo_1_selected, repo_2_selected);
      
      updatePullRequestsBarChart(repo_1_selected, repo_2_selected);
      updateRepoAndPullRequestsClosingTimesInChartContainer(repo_1_selected, repo_2_selected);

      updateIssuesBarChart(repo_1_selected, repo_2_selected);
      updateRepoAndIssuesClosingTimesInChartContainer(repo_1_selected, repo_2_selected);
      
      
      // function initialize_create_pull_request_closing_times_histogram_upon_page_render() {
      //   let repo_1_preselected = 'UTSAVS26/PyVerse';
      //   let repo_2_preselected = 'eosnetworkfoundation/silkworm';

      //   // let repo_1_preselected = 'microsoft/winget-pkgs';
      //   // let repo_2_preselected = 'facebook/react';

      //   document.addEventListener("DOMContentLoaded", () => {
      //     create_pull_request_closing_times_histogram(repo_1_preselected, repo_2_preselected);
      //   });
      // }


        
    </script>



    
  </div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}

</body>